    <footer class="site-footer">
      <div class="wrap">
        <div class="footer-inner">
          <div class="footer-col">
            <h4><%= copy.footer.explore %></h4>
            <a href="/"><%= copy.common.home %></a>
            <a href="/#features"><%= copy.common.features %></a>
            <a href="/#how-it-works"><%= copy.common.howItWorks %></a>
            <a href="/about"><%= copy.common.about %></a>
            <a href="/chat?guest=1"><%= copy.common.tryAsGuest %></a>
          </div>
          <div class="footer-col">
            <h4><%= copy.footer.help %></h4>
            <a href="/support"><%= copy.common.support %></a>
          </div>
          <div class="footer-col">
            <h4><%= copy.footer.legal %></h4>
            <a href="/privacy"><%= copy.common.privacyPolicy %></a>
            <a href="/terms"><%= copy.common.termsOfService %></a>
          </div>
        </div>
        <div class="footer-bottom">
          <p><%= copy.footer.copyright %></p>
        </div>
      </div>
    </footer>
  </body>
</html>
